@import "tailwindcss";




:root {
  --soil: #2C1810;
  --amber: #D4800A;
  --gold: #F2B233;
  --cream: #FAF3E0;
  --sage: #5C7A5C;
  --rust: #C44B2B;
  --light: #FFFDF7;
}

body {
  font-family: "DM Sans", sans-serif;
  background: var(--light);
  color: var(--soil);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}
.float-delay-1 {
  animation: float 4s ease-in-out infinite;
  animation-delay: 0.5s;
}

.float-delay-2 {
  animation: float 4s ease-in-out infinite;
  animation-delay: 1s;
}